<section id="contactus" class="py-5">
  <div class="py-5">
    <div class="container" style="margin-top: 100px">
      <div class="title text-center mb-5">
        <h2 class="position-relative d-inline-block">
          PRIVACY POLICY
        </h2>
      </div>
      <div>
        <h3>Terms and Conditions</h3>
        <p  style="font-weight: lighter">genuinelicencekey.com policy is to Sell products Keys cheaper making them affordable for those customers who are not able to afford these products at full price. Students, freelancers, beginners and self-employed specialists will benefit from buying from us. You can Buy Office 2016 Professional Key or Windows 10 Pro Key Cheap from us and you will receive the download Link as well.
          <br>
          In our online software sale store you will be able to buy software of the leading companies as Microsoft, and others at the greatest discount of 80%. This is now possible due to our consistent work with developers, getting our employees certified and due to high volumes of products bought from the developers. We try hard and look always right for additional chances to sell you software for less. Probably we are the only store which tries to reduce prices as low as we can.
          <br>
          By placing an order at genuinelicencekey.com you (Customer) understand and agree to be bound by the terms and conditions listed below.
          <br>
          genuinelicencekey.com reserves the right to make changes to this site and these terms and conditions at any time, without prior notice.
          <br>
        </p>

        <h5>Payments</h5>
        <p  style="font-weight: lighter">genuinelicencekey.com accepts Paypal, Visa and Master Card credit cards.
          <br>
        </p>

        <h5>Prices & Availability</h5>
        <p  style="font-weight: lighter">All prices on our website are quoted in US dollars (USD), EUR and GBP.
          <br>
          Because of the fast-moving nature of the industry, prices and availability are subject to change without notice.
          <br>
          genuinelicencekey.com is unable to issue price adjustments due to manufacturer price changes after date of original sale.
          <br>
          We do our best to provide the most accurate, up-to-date information, but errors do occur and we reserve the right to make changes without notice.
          <br>
          We also sell many software products to Resellers. All website orders with an individual product quantity over 5 could enjoy some discount, and please contact us by email.
          <br>
        </p>

        <h5>Delivery</h5>
        <p  style="font-weight: lighter">You will receive an email with the activation key code and download links if needed within 5 min to 60 min after the order has been placed but sometimes it may take up to 24 hours.
          <br></p>

        <h5>Refund Policy</h5>
        <p  style="font-weight: lighter">ATTENTION: Almost always our Support team can solve ANY problem you got with purchased software, therefore first of all please try to ask them to help you.
          <br>
          Refund can be issued in the case of unsolvable problems with a software.
          <br>
          Please contact us for the refund in 30 days after you receive the product.
          <br>
          We offer 30-day refund guarantee, but whole-life guarantee to all our keys.
          <br>
        </p>

        <h5>Chargeback Policy</h5>
        <p  style="font-weight: lighter">Chargeback is bad thing for both sides in 100% occasions, because if you would like to get your money back – just place refund request by sending email to us.
          <br>
          It is very important to provide working e-mail address for all communications with the Support team and our Store.
          <br>
          Software
          <br>
          By placing an order with us, You indicate that you have read and understand our terms.
          <br>
          You also indicate that you understand and accept any limitations of the particular product type(s) you are purchasing.
          <br>
          Please note that we sell only downloadable copied of software, it means that we are not shipping boxed versions of software and paper documentation.
          <br>
          Also please note that you will not be able to get a support from manufacturer and register your product online, but our tech team will help you if you have any problem.
          <br>
          You will be able to download software from special download area which will be created after a successful order.
          <br>
        </p>

        <h5>System Requirements</h5>
        <p  style="font-weight: lighter">Minimum system requirements are provided for all software items we sell.
          <br>
          By placing an order for software, you agree that the computer system on which you intend to install the software meets or exceeds all minimum system requirements.</p>
      </div>
    </div>
  </div>
</section>
