<section class="features-icons bg-light text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon mx-auto">
            <!-- <i class="bi-window m-auto text-primary"></i> -->
            <img
              src="./../../../assets/images/free-shipping-icon.png"
              alt=""
              width="115"
              height="115"
            />
          </div>
          <h3>Fast & safe Delivery</h3>
          <p class="lead mb-0">
            This theme will look great on any device, no matter the size!
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="bi bi-credit-card-2-front m-auto"></i>
          </div>
          <h3>Money Back</h3>
          <p class="lead mb-0">Guarentee</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="bi-terminal m-auto"></i>
          </div>
          <h3>Easy to Use</h3>
          <p class="lead mb-0">
            Ready to use with your own content, or customize the source files!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
