<section class="features-icons bg-light text-center">
  <div class="container">
    <h3 class="mb-5">WHY CHOOSE US</h3>
    <div class="row">
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon mx-auto">
            <!-- <i class="bi-window m-auto text-primary"></i> -->
            <img
              src="https://cdn.shopify.com/s/files/1/0583/4447/2762/t/2/assets/pf-0724e418--expressdelivery_1200x.png?v=1625857121"
              alt=""
              width="115"
              height="115"
            />
          </div>
          <h4>Fast Shipping & Return</h4>
          <p class="lead mb-0">Fast shipping on orders</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon mx-auto">
            <!-- <i class="bi bi-calendar2-week"></i> -->
            <!-- https://cdn.shopify.com/s/files/1/0583/4447/2762/t/2/assets/pf-24e4189b--freedelivery.png?v=1625857129 -->
            <img
              src="assets/images/support_2.png"
              alt=""
              width="115"
              height="110"
            />
          </div>
          <h4>Customer Support 24/7</h4>
          <p class="lead mb-0">Instant access to perfect support</p>
        </div>
      </div>
      <!-- <div class="col-lg-3">
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="bi-terminal m-auto"></i>
          </div>
          <h4>Easy to Use</h4>
          <p class="lead mb-0">great easy to use. great times</p>
        </div>
      </div> -->
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-lg-0 mb-lg-3">
          <div class="features-icons-icon mx-auto">
            <!-- <i class="fa fa-cc-paypal"></i> -->
            <img
              src="assets/images/secure.jpg"
              alt=""
              width="115"
              height="115"
            />
          </div>
          <h4>PayPal Secure Payment</h4>
          <p class="lead mb-0">We ensure secure payment!</p>
        </div>
      </div>
    </div>
  </div>
</section>
