<section id="collection" class="py-5">
  <div class="container py-5">
    <div class="title text-center">
      <h2 class="position-relative d-inline-block">Microsoft Products</h2>
    </div>

    <div class="row g-0">
      <div class="mt-4 row gx-0 gy-3">
        <div
          class="col-md-6 col-lg-4 col-xl-3 p-2"
          *ngFor="let item of products"
        >
          <div>
            <div class="special-img position-relative">
              <img (click)="itemParametre(item)" src="{{ item.image }}" class="w-100" height="250" routerLink="/product" >
            </div>
            <div class="text-center">
              <p class="text-capitalize my-1">${{ item.title }}</p>
              <span
                class="d-block fw-bold dash"
                style="color: #f93154 !important"
                >${{ item.oldPrice }}</span
              >
              <span class="d-block fw-bold">${{ item.price }}</span>
              <!-- //hna khas ndiro API l product selecte daba tantsana l back end ikhdam -->
              <button (click)="addtocart(item)" class="btn m-1">
                Add to cart
              </button>
            </div>
          </div>
        </div>
        <!--<div class="col-md-6 col-lg-4 col-xl-3 p-2 microsoft">
          <div class="collection-img position-relative">
            <img
              src="./../../../assets/images/blog_1.jpg"
              class="w-100"
              height="250"
            />
            &lt;!&ndash; <span
              class="position-absolute bg-primary text-white d-flex align-items-center justify-content-center"
              >sale</span
            > &ndash;&gt;
          </div>
          <div class="text-center">
            <p class="text-capitalize my-1">
              MICROS0FT 0FFICE PROFESSIONAL Plus 2019 Download Link For Win
              (1PC/1User)
            </p>
            <span class="d-block fw-bold">$ 45.50</span>
            <button type="button" class="btn m-2">Add to Bag</button>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3 p-2 microsoft">
          <div class="collection-img position-relative">
            <img
              src="./../../../assets/images/blog_1.jpg"
              class="w-100"
              height="250"
            />
            &lt;!&ndash; <span
              class="position-absolute bg-primary text-white d-flex align-items-center justify-content-center"
              >sale</span
            > &ndash;&gt;
          </div>
          <div class="text-center">
            <p class="text-capitalize my-1">
              MICROS0FT 0FFICE PROFESSIONAL Plus 2019 Download Link For Win
              (1PC/1User)
            </p>
            <span class="d-block fw-bold">$ 45.50</span>
            <button type="button" class="btn m-2">Add to Bag</button>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3 p-2 microsoft">
          <div class="collection-img position-relative">
            <img
              src="./../../../assets/images/blog_1.jpg"
              class="w-100"
              height="250"
            />
            &lt;!&ndash; <span
              class="position-absolute bg-primary text-white d-flex align-items-center justify-content-center"
              >sale</span
            > &ndash;&gt;
          </div>
          <div class="text-center">
            <p class="text-capitalize my-1">
              MICROS0FT 0FFICE PROFESSIONAL Plus 2019 Download Link For Win
              (1PC/1User)
            </p>
            <span class="d-block fw-bold">$ 45.50</span>
            <button type="button" class="btn m-2">Add to Bag</button>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3 p-2 microsoft">
          <div class="special-img position-relative">
            <img
              src="./../../../assets/images/blog_1.jpg"
              class="w-100"
              height="250"
            />
          </div>
          <div class="text-center">
            <p class="text-capitalize my-1">
              MICROS0FT 0FFICE PROFESSIONAL Plus 2019 Download Link For Win
              (1PC/1User)
            </p>
            <span class="d-block fw-bold">$ 45.50</span>
            <button type="button" class="btn m-2">Add to Bag</button>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3 p-2 microsoft">
          <div class="collection-img position-relative">
            <img
              src="./../../../assets/images/blog_1.jpg"
              class="w-100"
              height="250"
            />
            &lt;!&ndash; <span
              class="position-absolute bg-primary text-white d-flex align-items-center justify-content-center"
              >sale</span
            > &ndash;&gt;
          </div>
          <div class="text-center">
            <p class="text-capitalize my-1">
              MICROS0FT 0FFICE PROFESSIONAL Plus 2019 Download Link For Win
              (1PC/1User)
            </p>
            <span class="d-block fw-bold">$ 45.50</span>
            <button type="button" class="btn m-2">Add to Bag</button>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3 p-2 microsoft">
          <div class="collection-img position-relative">
            <img
              src="./../../../assets/images/blog_1.jpg"
              class="w-100"
              height="250"
            />
            &lt;!&ndash; <span
              class="position-absolute bg-primary text-white d-flex align-items-center justify-content-center"
              >sale</span
            > &ndash;&gt;
          </div>
          <div class="text-center">
            <p class="text-capitalize my-1">
              MICROS0FT 0FFICE PROFESSIONAL Plus 2019 Download Link For Win
              (1PC/1User)
            </p>
            <span class="d-block fw-bold">$ 45.50</span>
            <button type="button" class="btn m-2">Add to Bag</button>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3 p-2 microsoft">
          <div class="collection-img position-relative">
            <img
              src="./../../../assets/images/blog_1.jpg"
              class="w-100"
              height="250"
            />
            &lt;!&ndash; <span
              class="position-absolute bg-primary text-white d-flex align-items-center justify-content-center"
              >sale</span
            > &ndash;&gt;
          </div>
          <div class="text-center">
            <p class="text-capitalize my-1">
              MICROS0FT 0FFICE PROFESSIONAL Plus 2019 Download Link For Win
              (1PC/1User)
            </p>
            <span class="d-block fw-bold">$ 45.50</span>
            <button type="button" class="btn m-2">Add to Bag</button>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3 p-2 microsoft">
          <div class="special-img position-relative">
            <img
              src="./../../../assets/images/blog_1.jpg"
              class="w-100"
              height="250"
            />
          </div>
          <div class="text-center">
            <p class="text-capitalize my-1">
              MICROS0FT 0FFICE PROFESSIONAL Plus 2019 Download Link For Win
              (1PC/1User)
            </p>
            <span class="d-block fw-bold">$ 45.50</span>
            <button type="button" class="btn m-2">Add to Bag</button>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3 p-2 microsoft">
          <div class="collection-img position-relative">
            <img
              src="./../../../assets/images/blog_1.jpg"
              class="w-100"
              height="250"
            />
            &lt;!&ndash; <span
              class="position-absolute bg-primary text-white d-flex align-items-center justify-content-center"
              >sale</span
            > &ndash;&gt;
          </div>
          <div class="text-center">
            <p class="text-capitalize my-1">
              MICROS0FT 0FFICE PROFESSIONAL Plus 2019 Download Link For Win
              (1PC/1User)
            </p>
            <span class="d-block fw-bold">$ 45.50</span>
            <button type="button" class="btn m-2">Add to Bag</button>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3 p-2 microsoft">
          <div class="collection-img position-relative">
            <img
              src="./../../../assets/images/blog_1.jpg"
              class="w-100"
              height="250"
            />
            &lt;!&ndash; <span
              class="position-absolute bg-primary text-white d-flex align-items-center justify-content-center"
              >sale</span
            > &ndash;&gt;
          </div>
          <div class="text-center">
            <p class="text-capitalize my-1">
              MICROS0FT 0FFICE PROFESSIONAL Plus 2019 Download Link For Win
              (1PC/1User)
            </p>
            <span class="d-block fw-bold">$ 45.50</span>
            <button type="button" class="btn m-2">Add to Bag</button>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3 p-2 microsoft">
          <div class="collection-img position-relative">
            <img
              src="./../../../assets/images/blog_1.jpg"
              class="w-100"
              height="250"
            />
            &lt;!&ndash; <span
              class="position-absolute bg-primary text-white d-flex align-items-center justify-content-center"
              >sale</span
            > &ndash;&gt;
          </div>
          <div class="text-center">
            <p class="text-capitalize my-1">
              MICROS0FT 0FFICE PROFESSIONAL Plus 2019 Download Link For Win
              (1PC/1User)
            </p>
            <span class="d-block fw-bold">$ 45.50</span>
            <button type="button" class="btn m-2">Add to Bag</button>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3 p-2 windows">
          <div class="collection-img position-relative">
            <img
              src="./../../../assets/images/blog_1.jpg"
              class="w-100"
              height="250"
            />
            &lt;!&ndash; <span
              class="position-absolute bg-primary text-white d-flex align-items-center justify-content-center"
              >sale</span
            > &ndash;&gt;
          </div>
          <div class="text-center">
            <p class="text-capitalize my-1">
              MICROS0FT 0FFICE PROFESSIONAL Plus 2019 Download Link For Win
              (1PC/1User)
            </p>
            <span class="d-block fw-bold">$ 45.50</span>
            <button type="button" class="btn m-2">Add to Bag</button>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3 p-2 netflix">
          <div class="collection-img position-relative">
            <img
              src="./../../../assets/images/blog_1.jpg"
              class="w-100"
              height="250"
            />
            &lt;!&ndash; <span
              class="position-absolute bg-primary text-white d-flex align-items-center justify-content-center"
              >sale</span
            > &ndash;&gt;
          </div>
          <div class="text-center">
            <p class="text-capitalize my-1">
              MICROS0FT 0FFICE PROFESSIONAL Plus 2019 Download Link For Win
              (1PC/1User)
            </p>
            <span class="d-block fw-bold">$ 45.50</span>
            <button type="button" class="btn m-2">Add to Bag</button>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3 p-2 deezer">
          <div class="collection-img position-relative">
            <img
              src="./../../../assets/images/blog_1.jpg"
              class="w-100"
              height="250"
            />
            &lt;!&ndash; <span
              class="position-absolute bg-primary text-white d-flex align-items-center justify-content-center"
              >sale</span
            > &ndash;&gt;
          </div>
          <div class="text-center">
            <p class="text-capitalize my-1">
              MICROS0FT 0FFICE PROFESSIONAL Plus 2019 Download Link For Win
              (1PC/1User)
            </p>
            <span class="d-block fw-bold">$ 45.50</span>
            <button type="button" class="btn m-2">Add to Bag</button>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3 p-2 spotify">
          <div class="collection-img position-relative">
            <img
              src="./../../../assets/images/blog_1.jpg"
              class="w-100"
              height="250"
            />
            &lt;!&ndash; <span
              class="position-absolute bg-primary text-white d-flex align-items-center justify-content-center"
              >sale</span
            > &ndash;&gt;
          </div>
          <div class="text-center">
            <p class="text-capitalize my-1">
              MICROS0FT 0FFICE PROFESSIONAL Plus 2019 Download Link For Win
              (1PC/1User)
            </p>
            <span class="d-block fw-bold">$ 45.50</span>
            <button type="button" class="btn m-2">Add to Bag</button>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3 p-2 amazon">
          <div class="collection-img position-relative">
            <img
              src="./../../../assets/images/blog_1.jpg"
              class="w-100"
              height="250"
            />
            &lt;!&ndash; <span
              class="position-absolute bg-primary text-white d-flex align-items-center justify-content-center"
              >sale</span
            > &ndash;&gt;
          </div>
          <div class="text-center">
            <p class="text-capitalize my-1">
              MICROS0FT 0FFICE PROFESSIONAL Plus 2019 Download Link For Win
              (1PC/1User)
            </p>
            <span class="d-block fw-bold">$ 45.50</span>
            <button type="button" class="btn m-2">Add to Bag</button>
          </div>
        </div>-->
      </div>
    </div>
  </div>



  <div class="py-5">
    <div class="container">
      <div class="title text-center mb-5">
        <h2 class="position-relative d-inline-block">KEY FEATURES</h2>
      </div>
      <ul>
        <li>
          <i class="bi bi-check-circle mx-2"></i> Key Can be activate both 32
          bit and 64 bit versions Windows 10 and 11 For 1 Pc of office 2019 pro
          plus.
        </li>
        <li>
          <i class="bi bi-check-circle mx-2"></i>Support all languages version ,
          Works Worldwide
        </li>
        <li><i class="bi bi-check-circle mx-2"></i>Full Version Product Key</li>
        <li>
          <i class="bi bi-check-circle mx-2"></i>It Does Not Expire and updates
          Automatically
        </li>
        <li>
          <i class="bi bi-check-circle mx-2"></i>100% satisfaction guaranteed!
        </li>
      </ul>
    </div>
  </div>


</section>
